body {
  background-color: limegreen;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fceb31",endColorstr="#fa00ff",GradientType=1);
}
#wariotext {
  width: 25%;
}
#wierdwario {
  width: 25%;
}
#wario {
  width: 25%;
}
#drugs {
  width: 25%;
}

#why {
    width: 25%;
  }

  #man {
    width: 25%;
  }

  #jesus {
    width: 25%;
  }
#container {
  background: rgb(252, 235, 49);
  background: linear-gradient(
    90deg,
    rgba(252, 235, 49, 1) 0%,
    rgba(250, 255, 107, 1) 42%,
    rgba(250, 0, 255, 1) 100%
  );
  padding: 1rem;
  border-radius: 0.5rem;
  border: 3px solid black;
  text-align: center;
}
#wariodiv {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  background-color: limegreen;
  border-radius: 0.5rem;
  border: 3px solid black;
}
#sad {
  width: 35%;
}
#bike {
  width: 35%;
}

#rtx {
    width: 35%;
  }

  #twitter {
    width: 35%;
  }
